@using TodoApp.Web.Components.Modals
@rendermode InteractiveServer
@inject UserService UserService
@implements IDisposable

<div class="flex items-center justify-between bg-[#EEE2DC] shadow-md h-20 px-6">
    <div class="w-4/5 flex items-center justify-between">
        <div class="flex-grow flex justify-center">
            <h1 class="text-2xl font-primary font-medium text-[#123C69]">
                @(UserService.IsLoggedIn 
                    ? $"{UserService.CurrentUser!.Username.ToUpper()}'S TODOS"
                    : "TODO APP")
            </h1>
        </div>
        @if (UserService.IsLoggedIn)
        {
            <button @onclick="OpenCreateTodoModal" class="text-3xl bg-[#AC3B61] hover:bg-[#C15B7B] text-white font-accent font-semibold py-2 px-4 rounded-md transition-colors duration-200">
                +
            </button>
        }
    </div>
    <div class="w-1/5 flex justify-center items-center">
        <button @onclick="ToggleUserModal" class="mt-2.5 text-lg font-accent font-semibold text-[#4056A1] hover:text-[#2E3F75] focus:outline-none transition-colors duration-200 border-b-2 border-transparent hover:border-[#4056A1]">
            @(UserService.IsLoggedIn 
                ? $"PROFILE"
                : "LOGIN")
        </button>
    </div>
</div>

<LoginModal @bind-IsVisible="isLoginModalVisible" OnLoginSuccess="HandleLoginSuccess" />
<UserProfileModal @bind-IsVisible="isProfileModalVisible" OnLogout="HandleLogout" />
<CreateTodoModal @bind-IsVisible="isCreateTodoModalVisible" OnTodoCreated="HandleTodoCreated" />

@code {
    private bool isLoginModalVisible;
    private bool isProfileModalVisible;
    private bool isCreateTodoModalVisible;

    protected override void OnInitialized()
    {
        UserService.OnUserStateChanged += StateHasChanged;
    }

    private void ToggleUserModal()
    {
        if (UserService.IsLoggedIn)
        {
            isProfileModalVisible = true;
        }
        else
        {
            isLoginModalVisible = true;
        }
    }

    private void OpenCreateTodoModal()
    {
        isCreateTodoModalVisible = true;
    }

    private void HandleLoginSuccess()
    {
        isLoginModalVisible = false;
        StateHasChanged();
    }

    private void HandleLogout()
    {
        isProfileModalVisible = false;
        StateHasChanged();
    }

    private void HandleTodoCreated()
    {
        // You might want to refresh the todo list or update some state here
        StateHasChanged();
    }

    public void Dispose()
    {
        UserService.OnUserStateChanged -= StateHasChanged;
    }
}