@inject UserService UserService

<CompositeModal @bind-IsVisible="IsVisible" Title="Login">
    <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-4">
            <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
            @* @bind-Value="" (Used specifically for form inputs) when you type a value it automatically updates loginModel.Username *@
            <InputText id="username" @bind-Value="loginModel.Username" 
                autocomplete="off" spellcheck="false"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
        </div>

        <div class="flex items-center justify-between">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Login
            </button>
        </div>
    </EditForm>
</CompositeModal>

@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }
    [Parameter] public EventCallback OnLoginSuccess { get; set; }

    private CreateUserDto loginModel = new CreateUserDto { Username = string.Empty };

    private async Task HandleLogin()
    {
        await UserService.LoginAsync(loginModel.Username);
        await IsVisibleChanged.InvokeAsync(false);
        await OnLoginSuccess.InvokeAsync();
    }
}