@using TodoApp.Web.Components.Layout.LeftPanel
@using TodoApp.Web.Components.Layout.UpperPanel
@inherits LayoutComponentBase

<div class="flex h-screen">
    <div class="w-64 bg-gray-100 flex flex-col">
        <MainLayoutLeftPanel />
    </div>
    <div class="flex-1 flex flex-col">
        <MainLayoutUpperPanel />
        <main class="flex-1 p-4 overflow-auto">
            @Body
        </main>
    </div>
</div>

<div id="blazor-error-ui" class="fixed bottom-0 w-full">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>